.w_div {
    background-color: #43464b;
    font-size: 20px;
    color: #ffffff;
    line-height: 32px;
    padding: 20px;
    margin: 20px;
    border: 1px solid  #c9b3c4;
    border-radius: 8px;
    box-shadow: 8px 8px 8px #302e2e;
}

.w_label {
    display: inline-block;
    text-align: center;
    width: 100px;
}

.question::first-letter {
    font-size: 26px;
    font-weight: bold;
    color: #c1a4b5;
}

.question {
    font-size: 24px;
    margin-bottom: 20px;
}

.w_button {
    padding: 8px 16px;
    margin-left: 8px;
    font-size: 20px;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #96547a;
}